.button_light {
	margin: 1rem;
	min-height: fit-content;
	height: 3rem;
	width: 10rem;
	background-color: #333333;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.button_light:hover {
	background-color: #ffffff;
	color: #333333;
}
